.bedroom-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.bedroom-card {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    background-color: white;
}

.bedroom-card img {
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}

.bedroom-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bedroom-info h2 {
    color: red;
}

.bedroom-info p {
    color: blue;
}
