.App {
  text-align: center;
  position: relative;
}

.App-header {
  background-color: yellow;
  padding: 20px;
  color: red;
}

.bedroom-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.bedroom-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  width: 80%;
  max-width: 800px;
  text-align: left;
  background-color: white;
}

.bedroom-card img {
  width: 150px;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
}

.bedroom-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bedroom-info h2 {
  color: red;
}

.bedroom-info p {
  color: blue;
}