.App {
  text-align: center;
  position: relative;
}

.rainbow-letters {
  font-size: 40px;
  font-family: sans-serif;
  text-transform: uppercase;
}

.rainbow-letters span:nth-child(10n + 1) {
  color: #f01a16;
}

.rainbow-letters span:nth-child(10n + 2) {
  color: #eb57ad;
}

.rainbow-letters span:nth-child(10n + 3){
  color: #9069d3;
}

.rainbow-letters span:nth-child(10n + 5){
  color: #3621f3;
}

.rainbow-letters span:nth-child(10n + 4) {
  color: #26dad1;
}

.rainbow-letters span:nth-child(10n + 6){
  color: #51eb3d;
}

.rainbow-letters span:nth-child(10n + 7){
  color: #eeff41;
}

.rainbow-letters span:nth-child(10n + 8){
  color: #f9a825;
}
.rainbow-letters span:nth-child(10n + 9){
  color: #ff5722;
}


.bedroom-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.bedroom-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  width: 80%;
  max-width: 800px;
  text-align: left;
  background-color: white;
}

.bedroom-card img {
  width: 150px;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
}

.bedroom-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bedroom-info h2 {
  color: red;
}

.bedroom-info p {
  color: blue;
}
